includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app/
    excludePaths:
        - app/Providers/*
        - app/Console/*
    tmpDir: storage/framework/cache/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
